.hero {
  position: relative;
  padding: 76px 0;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url(../images/hero-bg-lg@x1.jpg) no-repeat 0 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url(../images/hero-bg-lg@x2.jpg);
  }
  @media (min-resolution: 3dppx) {
    background-image: url(../images/hero-bg-lg@x3.jpg);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 57px;
    width: 100%;
    background: url(../images/hero-bg-bottom@x1.png) no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/hero-bg-bottom@x2.png);
    }
    @media (min-resolution: 3dppx) {
      background-image: url(../images/hero-bg-bottom@x3.png);
    }
  }

  &__welcome {
    margin-bottom: 50px;
  }

  &__sedona {
    margin-bottom: 55px;
    width: 100%;
    max-width: 458px;
    height: auto;
  }
}
