.hotel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-top: 55px;

  &__heading {
    font-size: 26px;
    font-weight: bold;
  }

  &__map-img {
    height: 475px;
    width: 100%;
  }

  &__desc {
    margin-top: 50px;
    margin-bottom: 130px;
  }

  &__map {
    position: relative;
  }

  &__search {
    position: absolute;
    top: -86px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}


@media (max-width: $mobile) {

  .hotel {
    padding-top: 30px;

    &__heading {
      font-size: 21px;
    }

    &__desc {
      margin-bottom: 30px;
    }

    &__search {
      position: static;
    }

    &__map-img {
      height: 360px;
    }
  }

}
