.more {
  width: 100%;
  text-align: center;
  background-color: $gray2;
  text-transform: uppercase;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    padding: 50px 55px 70px;
    flex-basis: 100 / 3 * 1%;
  }

  &__number {
    margin-bottom: 30px;
  }

  &__text {
    line-height: 21px;
  }
}


@media (max-width: $mobile) {

  .more {

    &__list {
      flex-direction: column;
    }

    &__item {
      padding-top: 30px;
      padding-bottom: 0;

    }

    &__text {
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      padding-bottom: 30px;
    }
  }

}
