.reason {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: $white;
  text-transform: uppercase;

  &__col1 {
    flex-grow: 1;
    text-align: center;
    background-color: $blue;
    padding: 50px;
    flex-basis: 400px;

    &--right {
      order: 2;
    }
  }

  &__col2 {
    display: flex;
    flex-grow: 2;
  }

  &__heading {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
  }

  &__text {
    margin: 0;
    line-height: 21px;
  }

  &__number {
    padding: 15px 0 25px;
  }

  &__img {
    width: 100%;
    height: auto;
    background-size: cover;
  }
}


@media (max-width: $mobile) {

  .reason {
    flex-direction: column;

    &__col1 {
      flex-basis: auto;
      &--right {
        order: 0;
      }
    }
  }

}
