.sedona-desc {
  padding: 60px 0 55px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  &__heading {
    font-size: 21px;
    font-weight: bold;
  }

}


@media (max-width: $mobile) {

  .sedona-desc {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -16px;
      left: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 50vw 0 50vw;
      border-color: #ffffff transparent transparent transparent;
      z-index: 100;

    }
  }

}
