html {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  body {
    display: flex;
    flex-direction: column;
    flex: auto;
    font: 14px/26px 'PT Sans', sans-serif;
    color: $main-color;
    background-color: $gray;
    text-transform: uppercase;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      text-decoration: none;
      &:hover {
        color: $blue;
        text-decoration: none;
      }
      &:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }

    h3 {
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
