$icons: (
    svgSprite: (width: 209px, height: 236px, pngPath: '../images/svg-sprite.png', svgPath: '../images/svg-sprite.svg'),
 	facebook: (width: 8.313px, height: 17.84px, backgroundX: 0px, backgroundY: 0px),
 	for: (width: 27px, height: 33px, backgroundX: -9px, backgroundY: -18px),
 	for-down: (width: 27px, height: 33px, backgroundX: -36px, backgroundY: -51px),
 	for-hvr: (width: 27px, height: 33px, backgroundX: -63px, backgroundY: -84px),
 	twitter: (width: 17.8px, height: 14.2px, backgroundX: -90px, backgroundY: -117px),
 	website-by: (width: 27px, height: 30px, backgroundX: -108px, backgroundY: -132px),
 	website-by-down: (width: 27px, height: 30px, backgroundX: -135px, backgroundY: -162px),
 	website-by-hvr: (width: 27px, height: 30px, backgroundX: -162px, backgroundY: -192px),
 	youtube: (width: 20px, height: 14px, backgroundX: -189px, backgroundY: -222px),
);
