$ieSprite: '.no-svg' !default;
$svgSprite: map-get($icons, svgSprite) !default;
$baseFontSize: 14px !default;


// Lost settings

@lost gutter 0;
@lost flexbox no-flex; // or flex
@lost cycle auto;

// / Lost settings end

$main-color: #333;
$red: #f00;
$brown: #766357;
$blue: #81b3d2;
$blue-hvr: #669ec0;
$blue-down: #5496bd;
$gray: #f2f2f2;
$gray2: #eee;
$white: #fff;

$mobile: 630px;
