{% extends "layouts/default.html" %}
{% block title %} Sedona {% endblock %}

{% block content %}

<section class="hero">
  <img class="hero__welcome" src="images/welcome@x1.png"
       srcset="images/welcome@x2.png 2x,
               images/welcome@x3.png 3x"
   alt="Welcome" width="256" height="86">

  <img class="hero__sedona" src="images/sedona@x1.png"
       srcset="images/sedona@x2.png 2x,
               images/sedona@x3.png 3x"
   alt="Sedona" width="458" height="78">

  <img src="images/because@x1.png"
       srcset="images/because@x2.png 2x,
               images/because@x3.png 3x,"
   alt="Because" width="295" height="80">
</section>



<section class="sedona-desc">
  <h1 class="sedona-desc__heading">СЕДОНА — небольшой городок в АРИЗОНЕ, <br> зАСЛУЖИвающий большего!
</h1>
  <p class="sedona-desc__text">Рассмотрим 5 причин, по которым Седона круче чем гранд каньон!</p>
</section>



<section class="reason">
  <div class="reason__col1">
    <h2 class="reason__heading">НАСТОЯЩИЙ <br> ГОРОДОК</h2>
    <div class="reason__number">— №1 —</div>
    <p class="reason__text">СЕДОНА НЕ АТРАКЦИОН ДЛЯ ТУРИСТОВ, <br>
    ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ</p>
  </div>
  <div class="reason__col2">
    <img src="images/reason1-img@x1.jpg"
         srcset="images/reason1-img@x2.jpg 2x,
                 images/reason1-img@x3.jpg 3x"
     alt="" class="reason__img" height="256" width="800">
  </div>
</section>



<section class="features">
  <ul class="features__list">
    <li class="features__item">
      <div class="features__icon">
        {% include "images/svg/features-home.svg" %}
      </div>
      <h3 class="features__heading">Жилье</h3>
      <div class="features__desc">
Рекомендуем пожить в настоящем мотеле, все как в кино!
</div>
    </li>
    <li class="features__item">
      <div class="features__icon">
        {% include "images/svg/features-hamburger.svg" %}
      </div>
      <h3 class="features__heading">Еда</h3>
      <div class="features__desc">
Всегда заказывай ФИРМЕННЫЙ БУРГЕР,
Вы НЕ разочаруетесь!</div>
    </li>
    <li class="features__item">
      <div class="features__icon">
        {% include "images/svg/features-gift.svg" %}
      </div>
      <h3 class="features__heading">Сувениры</h3>
      <div class="features__desc">
Не только китайского,
но и местного производства!</div>
    </li>
  </ul>
</section>



<section class="reason">
  <div class="reason__col1 reason__col1--right">
    <h2 class="reason__heading">ТАМ ЕСТЬ <br>
Мост дьявола
</h2>
    <div class="reason__number">— №2 —</div>
    <p class="reason__text">Да, по нему можно пройти! <br> Если конечно вы осмелитесь</p>
  </div>
  <div class="reason__col2">
    <img src="images/reason2-img@x1.jpg"
         srcset="images/reason2-img@x2.jpg 2x,
                 images/reason2-img@x3.jpg 3x"
     alt="" class="reason__img" height="256" width="800">
  </div>
</section>



<section class="more">
  <ul class="more__list">
    <li class="more__item">
      <h2 class="more__heading">НЕБОЛЬШАЯ <br>
ПЛОЩАДЬ
</h2>
      <div class="more__number">— №3 —</div>
      <div class="more__text">ВСЕ достопримеча- <br>
      тельности находятся очень близко</div>
    </li>
    <li class="more__item">
      <h2 class="more__heading">КРАСИВАЯ <br>
ДОРОГА
</h2>
      <div class="more__number">— №4 —</div>
      <div class="more__text">ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем
      НЕ СКУЧНО!</div>
    </li>
    <li class="more__item">
      <h2 class="more__heading">МАЛО <br>
ТУРИСТОВ
</h2>
      <div class="more__number">— №5 —</div>
      <div class="more__text">Большинство едет в гранд каньон и толпится там</div>
    </li>
  </ul>
</section>




<section class="hotel">
  <div class="hotel__heading">ЗАИНТЕРЕСОВАЛИСЬ?
</div>
  <div class="hotel__desc">Укажите предполагаемые даты поездки <br>
  и мы покажем вам лучшие предложения гостиниц в седоне</div>





  <div class="hotel__map">
    <div class="search hotel__search">
      <div class="search__heading">ПОИСК ГОСТИНИЦЫ В седоне</div>
      <form action="" method="post" class="search__form">
        <div class="search__row">
          <label for="come" class="search__col1">Дата заезда:</label>
          <input type="text" class="search__date" id="come">
        </div>

        <div class="search__row">
          <label for="out" class="search__col1">Дата Выезда:</label>
          <input type="text" class="search__date" id="out">
        </div>

        <div class="search__row">
          <div class="search__wrap">
            <label for="adult" class="search__col1">ВзрослыЕ:</label>
            <input type="number" min="0" max="10" value="2" class="search__number" id="adult">
          </div>

          <div class="search__wrap">
            <label for="children" class="search__children">ДетИ:</label>
            <input type="number" min="0" max="10" value="0" class="search__number" id="children">
          </div>
        </div>

        <input class="search__btn" type="submit" value="Найти">
      </form>
    </div>
    <picture>
      <source media="(max-width: 320px)" srcset="images/map-xs.jpg">
      <img class="hotel__map-img" src="images/map.jpg" alt="Map">
    </picture>
  </div>
</section>

{% endblock %}
